/* Mobile first */
/* common */
.flexbox{
  display: flex;
}

.centered{
  width: 100%;
  /* max-width: 1200px;
  margin: auto; */
}

button{
  border-radius: 30px;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
  border: none;
}

a{
  text-decoration: none;
}

p{
  line-height: 2em;
}

/* common */

/* header */
nav{
  background-color: #0084FD;
}

.nav-inner{
  /* da sistemare per tablet e desktop */
  padding: 10px 20px 10px 20px;
}

.nav-inner .logo{
  width: 50%;
  cursor: pointer;
}

.nav-inner .links-list{
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.nav-inner .links-list .burger{
  align-items: center;
  color: white;
  display: block;
  cursor: pointer;
}

/* da sistemare poi con tablet e desktop */
.nav-inner .links-list .links{ 
  color: white;
  display: none;
}

.nav-inner .links-list .links .nav-links{
  gap: 20px;  
  align-items: center;
}

.nav-inner .links-list .links .nav-links li{
  list-style: none;
}

.nav-inner .links-list .links .nav-links li a{
  text-decoration: none;
  color: white;
}

.nav-inner .links-list .links .nav-links li #nav-right-button{
  background-color: #FFFFFF;
  border: none;  
}

.nav-inner .links-list .links .nav-links li #nav-right-button a{
  color: black  
}


/* header */

/* main */
/* section-one */
.section-one{
  background-color: white;
  padding: 60px 10px 60px 10px;
}

.section-one .section-one-inner{
  gap:20px;
  flex-direction: column;
}

.card{
  flex-direction: column;
  background-color: #B5DDFF;
  padding: 40px 30px 40px 30px;
  border-radius: 35px;
  gap: 25px
}

.card .description{
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.card .description h3{
  text-align: center;
  color: #0084FD;
}

.card .description p{
  text-align: justify;
}

.card p{
  text-align: center;
  color: #5A6E7F;
  font-weight: bold;
}

.card .description button {
  background-color: #0084FD;
  font-weight: bold;
  border: none;
  padding: 10px 30px 10px 30px;
  width: 100%;
}

.card .description button a{
  
  color: white;
}

.card .description button a span{
  margin-right: 5px;
}

#first-card  {
  padding-bottom: 0;
}

#first-card .image img{
  width: 100%;
  object-fit: contain;
}

/* from the second card on */
.card .icon {
  font-size: 4em;
  text-align: center;
  color: #0084FD;
  
}

.card .title{
  text-align: center;
  color: #0084FD;
}
/* section-one */
/* section-two */
.section-two{
  background-color: #9792E4;
  padding: 60px 30px 60px 30px;
}

.section-two .section-two-inner{
  flex-direction: column;
  gap: 30px;
}

.section-two .section-two-inner .strategic-planning{
  flex-direction: column;
  gap:20px;
}

.section-two .section-two-inner .strategic-planning h2{
  color: white;
  text-align: justify;
  font-size: 2.5em;
}
.section-two .section-two-inner .strategic-planning p{
  color: white;
  text-align:justify;
  
}

.section-two .section-two-inner .strategic-planning .image img, .section-two .section-two-inner .app-dev .image img {
  width: 100%;
  object-fit: contain;

}

.section-two .section-two-inner .app-dev{
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 20px 15px 20px 15px;
  gap: 15px;
}

.section-two .section-two-inner .app-dev p{
  text-align: center;
  color: #5A6E7F;
  font-style: italic;
  font-weight: bold;
}

/* .section-two .section-two-inner .app-dev .down-arrow {
 
} */

.section-two .section-two-inner .app-dev .down-arrow #circle{
  border-radius: 50%;
  padding: auto;
  border: none;
  background-color: #9792E4;
 
}

/* section-two */
/* section-three */
.section-three-inner{
  padding: 60px 10px 60px 10px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.section-three-inner h2{
  text-align: center;
  color: #9792E4;
}
.section-three-inner p{
  text-align: center;
  
}

.section-three-inner .testimonial{
  flex-direction: column;
  background-color: #9792E4;
  border-radius: 30px;
  padding: 20px 15px 20px 15px;
  color: white;
  gap: 15px;
  
}
.section-three-inner .testimonial .profile-image{
  justify-content: center;
  
  
  
  
  /* overflow: auto; */    
}
.section-three-inner .testimonial .profile-image img{
  
  width: 60%;
  
  object-fit: cover;
  border-radius: 50%;
}

.section-three-inner .testimonial .profi-description{
  flex-direction: column;
  justify-content: center;
  gap:20px;
}

.section-three-inner .testimonial .profi-description h5{
  text-align: center;
  font-size: 1.2em;
}

.section-three-inner .testimonial .profi-description span{
  margin: 0 5px 0 5px;
}

/* section-three */
/* section-four */
.section-four{
  background-color: #9792E4;
}

.section-four .section-four-inner{
  flex-direction: column;
  gap: 30px;
  padding: 30px 15px 30px 15px;
}

.section-four .section-four-inner h2{
  color: white;
  text-align: center;
}

.section-four .section-four-inner .benefits-container{
  flex-direction: column;
  gap: 20px;
}

.section-four .section-four-inner .benefits-container .benefits-card{
  flex-direction: column;
  gap: 20px;
  background-color: white;
  color: #737373;
  padding: 20px 15px 20px 15px;
  border-radius: 25px;
}

.section-four .section-four-inner .benefits-container .benefits-card h2{
  color: #9792E4;
  text-align: start;
  font-size: 2em;
}

.section-four .section-four-inner .benefits-container .benefits-card h4{
  color:#9792E4;
}

.section-four .section-four-inner .benefits-container .benefits-card .button-more button{
  background-color: #9792E4;
  border: none;
  width: 50%;

}

.section-four .section-four-inner .benefits-container .benefits-card .button-more button a{
  color: white;
  font-weight: bold;
}
/* section-four */

/* section-five */
.section-five{
  background-color: white;
}

.section-five .section-five-inner{
  flex-direction: column;
  padding: 40px 15px 40px 15px;
  gap:50px;
}

.section-five .section-five-inner .about-us{
  flex-direction: column;
  gap: 20px;
}

/* .section-five .section-five-inner .about-us p{
  
} */

.section-five .section-five-inner .about-us h2{
  color: #9792E4;
}

.section-five .section-five-inner .about-us-testimony{
  flex-direction: column;
  gap: 20px;
}

.section-five .section-five-inner .about-us-testimony .au-image {
  position: relative;
  width: 60%;
}

.section-five .section-five-inner .about-us-testimony .au-image .virgolette{
  position: absolute;
  top:0%;
  left: 70%;
  color: #9792E4;
  font-size: 300%;
}

.section-five .section-five-inner .about-us-testimony .au-image img{
  border-radius: 50%;
  width: 100%;
  object-fit: cover; 

}

.section-five .section-five-inner .about-us-testimony h3{
  color: #9792E4;
}

.section-five .section-five-inner .about-us-testimony .au-button button{
  width: 50%;
  background-color: #9792E4;
  padding: 15px 25px;
}

.section-five .section-five-inner .about-us-testimony .au-button button a{
  color: white;
}
.section-five .section-five-inner .about-us-testimony .au-button button a span {
  margin-right: 5px;
}



/* section-five */
/* section-six */

.section-six{
  background-color: #9792E4;
}

.section-six .section-six-inner .get-started-container{
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 30px 60px 30px;

}

.section-six .section-six-inner .get-started-container h4{
  color: #CBC9F1;

}

.section-six .section-six-inner .get-started-container h2{
color: #FDC15F;
font-size: 2.5em;
}

.section-six .section-six-inner .get-started-container p{
  color: white;
  text-align: center;
}

.section-six .section-six-inner .get-started-container .get-started-button{
  width: 100%;
  justify-content: center;
}

.section-six .section-six-inner .get-started-container .get-started-button button{
  background-color: white;
  width: 60%;
  padding: 20px 0 20px 0;
}

.section-six .section-six-inner .get-started-container .get-started-button a{
  color: #9792E4;
  font-weight: bold;
  
}

.section-six .section-six-inner .get-started-container p a{
  color: white;
  text-decoration: underline;
}



/* section-six */


/* main */

/* footer */

footer{
  background-color: #333333;
}

.footer-inner{
  padding: 40px 20px 40px 20px;
  flex-direction: column;
  gap: 50px;
}

.footer-inner p{
text-align: center;
color: white;
text-align-last: center;
line-height: 1.2em;
}

.footer-inner p a{
  color:#9792E4;
  text-decoration: underline;
}


/* footer */
/* Mobile first */

/* Tablet */

@media screen and (min-width: 576px) {
  /* section-one */
  .section-one .section-one-inner,.section-four .section-four-inner .benefits-container{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    align-items: stretch;
  }

  .section-one .section-one-inner .card{
    width: calc(100% / 3 - (10px / 3 * 2 ));
    margin-bottom: 10px;
  }

  .section-one .section-one-inner #first-card{
    width: calc(100% / 3 * 2 - (10px / 3 * 1));
    flex-direction: row;
        
  }
  .section-one .section-one-inner #first-card .description{
    width: 50%;
  }


  .section-one .section-one-inner #first-card .image{
    width: 50%;
    display: flex;
  align-items: flex-end;
  justify-content: center;
  }
  .section-one .section-one-inner #first-card .image img{
    object-fit: initial;
  max-width: 100%;
  max-height: 100%;
        
  }



  .section-one .section-one-inner #first-card .description button{
    width: 80%;
  
  }

  /* section-one */
  /* section-three */
  .section-three .section-three-inner .testimonial{
    flex-direction: row;
  }
  /* section-three */
  /* section-four */
  .section-four .section-four-inner .benefits-container .benefits-card{
    width: calc(100% / 2 - (10px / 2 * 1 ));
    margin-bottom: 10px;
  }
  /* section-four */
  /* section-five */
  .section-five .section-five-inner {
    flex-direction: row;
  }

  .section-five .section-five-inner .about-us{
    width: 60%;
  }

  .section-five .section-five-inner .about-us-testimony{
    width: 40%;
  }

  .section-six{
    justify-content: center;
  }
  
  /* section-five */
  .container-bottom{
    width: 80%;
    
  }

  /* footer */
  footer{
    justify-content: center;

    
  }


  /* footer */

}

/* tablet */
/* desktop */
@media screen and (min-width: 992px) {
  .container{  
  max-width: 1200px;
  margin: auto; 
}
 .section-four .section-four-inner .benefits-container .benefits-card{
    width: calc(100% / 3 * 1 - (10px / 3 * 2 ));
    margin-bottom: 10px;
  }
 .container-bottom{
  max-width: 900px;
 }
 .nav-inner .links-list .burger{
  display: none;
 }
 .nav-inner .links-list .links{ 
  
  display: flex;
}
}




/* desktop */
